.container-fluid{
    height: 100%;
  background-image:
  url(https://img.freepik.com/fotos-gratis/medico-com-um-estetoscopio-nas-maos-e-fundo-do-hospital_1423-1.jpg?size=626&ext=jpg);
  background-size: cover;
  background-repeat: no-repeat;
  }
  .navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 70px; /* change it to desired width */
    background-color: rgb(255, 255, 255); /* change to desired color */
}
.logo {
    display: inline-block;
    vertical-align: top;
    width: 70px;
    height: 70px;
    margin-right: 20px;
    /* if you want it vertically middle of the navbar. */
}